<footer>
  <div class="row footer-wrapper">
    <div class="col-md-8">&copy; 2024 E-Shop <span class="ps-1">Sundos Gutty</span></div>
    <div class="col-md-4 social">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/SundosGutty" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="https://www.linkedin.com/in/sundos-guty/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin"></i></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
