<div class="products-page">
    <div class="row">
      <div class="col-md-3" *ngIf="!isCategoryPage">
        <h4>Categories</h4>
        <div class="form-check" *ngFor="let category of categories">
          <input
            type="checkbox"
            class="form-check-input"
            [id]="category.id"
            [(ngModel)]="category.checked"
            (change)="categoryFilter()"
          />
          <label class="form-check-label" [for]="category.id">{{ category.name }}</label>
        </div>
      </div>
      <div [ngClass]="{ 'col-md-9': !isCategoryPage, 'col-md-12': isCategoryPage }">
        <div class="row" *ngIf="products.length; else emptyState">
          <div
            [ngClass]="{ 'col-md-4': !isCategoryPage, 'col-md-3': isCategoryPage }"
            *ngFor="let product of products"
          >
            <products-product-item [product]="product"></products-product-item>
          </div>
        </div>
        <ng-template #emptyState>
          <div>
            <h4>No products were found in These category</h4>
          </div>
        </ng-template>
      </div>
    </div>
  </div>

  