 <div class="banner">
  <div class="row">
    <div class="col-md-5 offset-md-1 banner-text">
      <h1>The Best Products</h1>
      <h2>in Every Category</h2>
      <a routerLink="/products" class="btn btn-primary mt-4 banner-button">
        See more
        <i class="fa-solid fa-chevron-right"></i>
      </a>
    </div>
    <div class="col-md-6 banner-image animate__animated slide-in-left">
      <img src="assets/images/banner-image.svg" alt="girl-sitting-in-a-cart" class="img-fluid" />
    </div>
  </div>
</div>