<div class="product-item" *ngIf="product">
  <div class="product-item-wrapper">
    <img [routerLink]="'/products/' + product.id" [src]="'../../../../assets/images/products/' + image + '-main.png'" class="image" alt="" />
    <div>
      <h6 class="name">{{ product.name }}</h6>
      <h5 class="price">{{ product.price | currency }}</h5>
      <button type="button" class="btn btn-danger" (click)="addProductToCart()"> <i class="fa-solid fa-cart-shopping"></i> Add to cart</button>
    </div>
  </div>
</div>
